<div class="container">
    <div class="row justify-content-center" *ngIf="!passcheck">
        <div class="col-md-5">
           <div class="card">
               <div class="card-header">WELCOME</div>
               <div class="card-body">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label>USERNAME</label>
                        <input type="text" class="form-control" formControlName="username" #username>
                        <p *ngIf="loginForm.controls.username.touched && loginForm.controls.username.pristine" class="text-danger">This field cant be Empty</p>
                    </div>
                    <div class="form-group">
                        <label>PASSWORD</label>
                        <input type="password" class="form-control" formControlName="password" #password>
                        <p *ngIf="loginForm.controls.password.touched && loginForm.controls.password.pristine" class="text-danger">This field cant be Empty</p>
                    </div>
                    <button class="btn btn-primary" (click)="check()"
                    style="width: 100%;">LOGIN</button>
                    <button class="btn btn-success"
                    style="width: 100%;" [routerLink]="'/register'">NEW HERE! SIGNUP</button>
                </form>
               </div>
           </div>
        </div>
    </div>
    <app-dashboard *ngIf="passcheck"></app-dashboard>
</div>
