.registerBtn{
    background-color: chocolate;
    color: cornsilk;
}
.btn{
    margin-left: 5px;
    margin-top: 4px;
}
.row{
    margin-top: 50px;
}
.card-header{
    font-weight: 600;
    text-align: center;
}  

label{
    font-weight: 600;
}