<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header text-center">WELCOME</div>
                <div class="card-body">
                   <form [formGroup]="registerform">
                    <div class="form-group">
                        <label>Enter Your Full Name</label>
                        <input type="text" class="form-control" formControlName="fullname" #fullname>
                        <p *ngIf="registerform.controls.fullname.touched && registerform.controls.fullname.pristine" class="text-danger">This field cant be Empty</p>
                    </div>
                    <div class="form-group">
                        <label>Enter Your Email</label>
                        <input type="text" class="form-control" formControlName="emailId" #emailId>
                        <p *ngIf="registerform.controls.emailId.dirty && !registerform.controls.emailId.valid" class="text-danger">Invalid Email Format</p>
                        <p *ngIf="registerform.controls.emailId.touched && registerform.controls.emailId.pristine" class="text-danger">This field cant be Empty</p>
                    </div>
                    <div class="form-group">
                        <label>Enter Your User Name</label>
                        <input type="text" class="form-control" formControlName="username" #username>
                        <p *ngIf="registerform.controls.username.touched && registerform.controls.username.pristine" class="text-danger">This field cant be Empty</p>
                    </div>
                    <div class="form-group">
                        <label>Enter Your Password</label>
                        <input type="text" class="form-control" formControlName="password" #password>
                        <p *ngIf="(registerform.controls.password.dirty || registerform.controls.password.touched) && !registerform.controls.password.valid" class="text-danger">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
                        </p>
                        <p *ngIf="registerform.controls.password.touched && registerform.controls.password.pristine" class="text-danger">This field cant be Empty</p>
                    </div>
                    <button class="btn btn-primary" (click)="check()"
                    style="width: 100%;">REGISTER</button>
                    <button class="btn btn-warning" [routerLink]="'/login'"
                    *ngIf="toggle == true"
                    style="width: 100%; margin-top: 5px;">LOGIN NOW</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>