<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">product name</th>
                    <th scope="col">product price</th>
                    <th scope="col">Function</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of product">
                        <td>{{p.productName}}</td>
                        <td>{{p.productPrice}}</td>
                        <td><button class="btn btn-primary" (click)="deleteProduct(p.sellerName)">DELETE</button></td>
                    </tr>
                </tbody>
                <button class="btn btn-warning" [routerLink]="'/dashboard'" style="width: 276%; margin-top: 8px;">GO BACK</button>
            </table>
        </div>
    </div>
</div>
